<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>POST</td><td>TestServiceGherkin$TestSolicitarCartaoAdicionalGherkin.validarReponseDeUser()[pri:1, instance:org.br.curso.tests.service.TestServiceGherkin$TestSolicitarCartaoAdicionalGherkin@2c9399a4]<br/></td></tr>
</table>
