<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a8a181">  <td>19/03/04 15:11:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestServiceGherkin$TestSolicitarCartaoAdicionalGherkin.setup(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.service.TestServiceGherkin$TestSolicitarCartaoAdicionalGherkin@2c9399a4]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@948960194</td>   <td></td> </tr>
<tr bgcolor="a8a181">  <td>19/03/04 15:11:46</td>   <td>11394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestServiceGherkin$TestSolicitarCartaoAdicionalGherkin.teardown(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:org.br.curso.tests.service.TestServiceGherkin$TestSolicitarCartaoAdicionalGherkin@2c9399a4]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@948960194</td>   <td></td> </tr>
<tr bgcolor="a8a181">  <td>19/03/04 15:11:40</td>   <td>5850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestServiceGherkin$TestSolicitarCartaoAdicionalGherkin.validarReponseDeUser()[pri:1, instance:org.br.curso.tests.service.TestServiceGherkin$TestSolicitarCartaoAdicionalGherkin@2c9399a4]">validarReponseDeUser</td> 
  <td>main@948960194</td>   <td></td> </tr>
</table>
