<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.br.exercicio.testes.web.TestCadastroGherkin</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CT004_RealizarInclusaoDeEmailExistenteNoSite</td>
<td>Cadastro </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CT005_RealizarEdicaoDeUsuarioNoSite</td>
<td>Cadastro </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CT006_RealizarExclusaoDeUsuarioNoSite</td>
<td>Cadastro </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CT008_RealizarPesquisaDeUsuarioInexistenteNoSite</td>
<td>Cadastro </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CT007_RealizarPesquisaDeUsuarioExistenteNoSite</td>
<td>Cadastro </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CT003_RealizarCadastroDeUsuarioNoSite</td>
<td>Cadastro </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>teardown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
