<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Cadastro</td><td>TestCadastroGherkin.CT006_RealizarExclusaoDeUsuarioNoSite()[pri:1, instance:com.br.exercicio.testes.web.TestCadastroGherkin@a4102b8]<br/></td></tr>
</table>
