<h2>Methods that were not run</h2><table>
<tr><td>com.br.exercicio.testes.web.TestCadastroGherkin.CT004_RealizarInclusaoDeEmailExistenteNoSite</td></tr>
<tr><td>com.br.exercicio.testes.web.TestCadastroGherkin.CT003_RealizarCadastroDeUsuarioNoSite</td></tr>
<tr><td>com.br.exercicio.testes.web.TestCadastroGherkin.CT007_RealizarPesquisaDeUsuarioExistenteNoSite</td></tr>
<tr><td>com.br.exercicio.testes.web.TestCadastroGherkin.CT008_RealizarPesquisaDeUsuarioInexistenteNoSite</td></tr>
<tr><td>com.br.exercicio.testes.web.TestCadastroGherkin.CT005_RealizarEdicaoDeUsuarioNoSite</td></tr>
</table>