<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88d3aa">  <td>19/03/18 08:57:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCadastroGherkin.CT006_RealizarExclusaoDeUsuarioNoSite()[pri:1, instance:com.br.exercicio.testes.web.TestCadastroGherkin@a4102b8]">CT006_RealizarExclusaoDeUsuarioNoSite</td> 
  <td>main@1192171522</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>19/03/18 08:57:24</td>   <td>-26246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCadastroGherkin.setup(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.br.exercicio.testes.web.TestCadastroGherkin@a4102b8]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1192171522</td>   <td></td> </tr>
<tr bgcolor="88d3aa">  <td>19/03/18 08:58:07</td>   <td>16232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCadastroGherkin.teardown(java.lang.reflect.Method, org.testng.ITestContext)[pri:0, instance:com.br.exercicio.testes.web.TestCadastroGherkin@a4102b8]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@1192171522</td>   <td></td> </tr>
</table>
